@import "tailwindcss";

#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
